* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
}

/* ===== LAYOUT ===== */
.layout {
    display: flex;
    min-height: 100vh;
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 240px;
    background: #083a5c;
    color: #fff;
    position: fixed;
    top: 70px;            /* debajo del header */
    left: 0;
    height: calc(100vh - 70px);
}


.sidebar h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

/* ===== MENU ===== */
.sidebar a {
    display: block;
    padding: 12px 15px;
    margin-bottom: 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #07406b;
}

/* ===== ACTIVO ===== */
.sidebar a.active {
    background: #ffffff;
    color: #0a3d62;
    font-weight: bold;
}

/* ===== CONTENIDO ===== */
.content {
    margin-left: 240px;
    padding: 30px;
    width: 100%;
}

.main-content {
    margin-left: 240px;
    padding: 25px;
}

